* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 70%;
  margin:auto;
  padding: 100px;
}

header{
  height: 100px;
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}



#lista{
  font-size: 20px;
  text-align: center;
}